body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #18171c;
    font-family: "MarckScript-Regular", sans-serif;
    display: flex;
    flex-direction: column;
    color: black;
}
