@font-face {
    font-family: "MarckScript-Regular";
    src: local('MarckScript'),
    url(../../assets/fonts/MarckScript/MarckScript-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
